.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f5f2f2;
  }
  .navLink {
    display: flex;
    padding: 15px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
  }
  .active {
    color: #f0310c;
  }
  